# Unity3D .gitignore file.
# Store this file at the root of your local repository.
.DS_Store
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper
Temp
*.csproj
*.pidb
*.sln 
Library/AnnotationManager
Library/AssetVersioning.db
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/CurrentLayout.dwlt
Library/EditorUserBuildSettings.asset
Library/EditorUserSettings.asset
Library/InspectorExpandedItems.asset
Library/MonoManager.asset
Library/ProjectSettings.asset
Library/ShaderCache.db
Library/ShaderCache/0/043ae63ef43958e34fc42e10a62384ce.bin
Library/ShaderCache/3/3c63abda33513b462412ac777d4ea7f0.bin
Library/ShaderCache/7/768d66adb8cb86e4f835603f84454fe3.bin
Library/ShaderCache/9/9efc932d2592dfd3e288f7086263f93b.bin
Library/ShaderCache/c/c9e0f046b4b09f957cdf48205ddd7c40.bin
Library/ShaderCache/e/e56de5d133d2afd8441a00d83203ea52.bin
Library/shadercompiler-1.log
Stealth-csharp.sln
Stealth.sln
Stealth.userprefs
